{% extends "base.html" %}
{% block title %}Flux - LITRevu{% endblock %}

{% block content %}
<h1>Flux</h1>

<p>
  <a href="{% url 'ticket_create' %}"> Créer un billet</a> 
  
</p>

{#  DÉBUT DE LA BOUCLE DU FLUX  #}
{% for group in feed_groups %}

  {# 1 AFFICHAGE DU BILLET #}
  {% include "reviews/ticket.html" with post=group.ticket %}

  {# 2 ICI  : LE BLOC DES CRITIQUES  #}

  {% if group.reviews %}
    <div style="margin-left: 30px;">
      <h3>Critiques</h3>
      {% for review in group.reviews %}
        {% include "reviews/review.html" with post=review %}
      {% endfor %}
    </div>
  {% else %}
    <p style="margin-left: 30px;">
      <em>Aucune critique pour ce billet.</em>
    </p>
  {% endif %}

{#  FIN DU GROUPE TICKET + CRITIQUES  #}
{% empty %}
  <p>Aucun contenu à afficher.</p>
{% endfor %}
{#  FIN DE LA BOUCLE  #}

{% endblock %}